a {
  text-decoration: none;
  color: rgb(83, 83, 83);
}

a:hover {
  color: black;
}

.header {
  position: fixed;
  z-index: 999;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 60px;
  top: 0;
  /* box-shadow: 0px 3px 10px rgb(231, 231, 231); */
  display: flex;
  align-items: center;
}

.logo {
  width: 80px;
}

/* .wrapper {
  position: relative;
} */

.container {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 100px;
}

.home-content {
  position: relative;
  background: rgba(30, 143, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 240px;
  color: white;
  border-radius: 4px;
  padding: 60px;
  margin: 0px 10px;
}

.video-container {
  position: fixed;
  /* z-index: -999; */
  left: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.cards {
  margin: 40px 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.card {
  position: relative;
  height: 100px;
  border: 1px solid dodgerblue;
  border-top: 4px solid dodgerblue;
  display: flex;
  align-items: center;
  padding: 20px 40px;
  font-size: 1.2rem;
  font-weight: 200;
  color: rgb(61, 61, 61);
  background: rgba(255, 255, 255, 0.5);
}

.price-tag {
  position: absolute;
  top: -20px;
  right: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 4px solid rgb(195, 219, 255);
  background: dodgerblue;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  transform: rotate(-8deg);
}

.btn-go {
  background: white;
  color: dodgerblue;
  border-style: none;
  max-width: 160px;
  padding: 10px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 4px;
}

.products-list {
  color: rgb(70, 70, 70);
  font-size: 0.9rem;
  padding: 0 10px;
}

.btn-back {
  border-style: none;
  background: inherit;
}

.left-arrow-back {
  width: 40px;
}

.list-title {
  display: inline-block;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

.list-categories {
  background: dodgerblue;
  padding: 10px;
  color: white;
  /* display: grid; */
  /* grid-template-columns: repeat(1fr); */
}

li {
  padding: 10px;
  border-bottom: 1px solid rgb(216, 215, 215);
  display: flex;
}

.table-item-name {
  /* flex-grow: 1; */
  min-width: 220px;
}

.table-item-desc {
  flex-grow: 1;
  min-width: 200px;
}

.table-item-price {
  /* min-width: 60px; */
  padding-left: 20px;
}

.item-detail {
  color: rgb(83, 83, 83);
  padding: 0 20px;
}

.main-content {
  min-height: 560px;
}

.product-image {
  margin-top: 4px;
  width: 400px;
  /* height: 400px; */
  float: left;
  margin-right: 10rem;
  margin-bottom: 2rem;
  clip-path: ellipse(350px 240px at 10% 20%);
  shape-outside: ellipse(350px 240px at 10% 20%);
}

.text-wrapper {
  line-height: 1.6rem;
}

.price {
  clear: both;
  font-size: 2rem;
  font-weight: bold;
}

.nav-back-forth {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

button {
  border-style: none;
  background: transparent;
  font-size: 1.6rem;
  font-weight: bold;
  color: dodgerblue;
}

.arrow-left {
  display: inline-block;
  transform: rotate(180deg);
}

/* --------------------
 SORT BUTTONS
----------------------*/

.sort-buttons {
  display: flex;
  justify-content: center;
}

/* .sort-arrow {
  font-size: 1.2rem;
} */

.arrow-asc {
  display: inline-block;
  transform: rotate(-90deg);
}

.arrow-dsc {
  display: inline-block;
  transform: rotate(90deg);
}

button.sort {
  background: dodgerblue;
  font-size: 1.1rem;
  color: white;
  padding: 10px 46px;
  margin: 4px;
  border-radius: 4px;
}

button.reset {
  background: white;
  color: dodgerblue;
  border: 1px solid dodgerblue;
}
